<a href="https://colab.research.google.com/github/kcisidro/OOP-58002/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

Python Indentation

In [ ]:
if 5>2:
 print("Yes")

Yes

Python Comment

In [ ]:
#This is a comment
print("Hello, World")

Hello, World

Python variable

In [ ]:
x = "sally"

a=0
a,b,c=0,1,2

print(x)
print(a)
print(b)
print(c)
print(a,b,c)

sally
0
1
2
0 1 2

Casting

In [ ]:
d = 4
d= int(4)
print(d)

4

Type () Function

In [ ]:
d = 4
d= int(4)
print(type(d))

<class 'int'>

Double quotes and single quotes

In [ ]:
#y="Ana"
#print(y)

Y= 'Ana'
y= 'Robert'
print(y)
print(Y)

Robert
Ana

*Multiple* Variables

In [ ]:
#x='Tony'
k=l=m="four"
print(k)
print(l)
print(m)
print(k,l,m)

four
four
four
four four four

Output Variable

In [ ]:
print('Phython programming is enjoying')

h="enjoying"
p="Phython Programming is "
print("Phython programming is " +h)
print(p+""+""+h)

Phython programming is enjoying
Phython programming is enjoying
Phython Programming is enjoying

Arithmetic Operations

In [ ]:
print(c+d) #c=2, d=4
print(d-c)
print(d*c)
print(int(d/c))
print(d%c)
print(3/2) #1.50
print(d**c)

6
2
8
2
0
1.5
16

Assignment Operators

In [ ]:

q+=5#same as q=q+5

print(q) #same as q=q+5, q=10+5=15

15

Boclean logic

In [ ]:
s=10
print(s^2)
print(s|2)

8
10

Comparison Operators

In [ ]:
print(s>q)
print(s==s)
print(q==q)

False
True
True

Logical Operators

In [ ]:
s>q and s==s
s>q or s==s

True